extends ../../default/cve/edit

block loadEditor

    script 
        | var loadEditorWithProducts = async function() {
        |   docSchema.definitions.product.properties.product_name.examples = await 
        | loadProductNames();
        | loadJSON(initJSON)
        | };
        | loadEditorWithProducts();

    script
        | selected = "aboutTab";
        | document.getElementById(selected).checked = true;
        
    script
        | var tabs = document.getElementsByName("tabs");
        | for (var i = 0; i < tabs.length; i++) {
        |   var t = tabs[i];
        |   if (t.id == "emailTab") {
        |     t.addEventListener('change',function() {
        |         var j = docEditor.getValue();
        |         document.getElementById("outemail").innerHTML = pugRender({renderTemplate: 'email', doc: j });
        |   });
        | }
        | }
        
block append customtabs
        input.tab(name='tabs', type='radio', id='emailTab', value="7")
        label.lbl(for='emailTab') OSS Email
        .wht.fil.bor.pad
            div#outemail            

block append customtabs
        input.tab(name='tabs', type='radio', id='aboutTab', value="0")
        label.lbl(for='aboutTab') Instructions
        .wht.fil.bor.pad
         p= "This form is designed to help you format an ASF CVE entry and handle the CVE process. "
         ul
             li= "Fill in the details using the 'Editor' tab.  You could use the 'GIT' option to prepopulate based on a previous public CVE"
             p=""
             li= "Use the 'CVE-JSON' tab for the data you submit to MITRE.  Go to https://cveform.mitre.org/ and use 'Notify CVE about a publication'. You must use your @apache.org e-mail address in the form. Fill in the two required fields and paste the JSON in the field labelled 'Additional information and CVE ID description updates'.  If the JSON is rejected as too large, submit it empty and when you get the auto reply from MITRE with a ticket ID, reply to that with the JSON."
             p=""
             li= "Use the 'OSS Email' tab for the email you should send to oss-security@lists.openwall.com (subscription not required). You must use a separate email to this list, please do not cc."
             p=""
             li= "The JSON created using this tool is not stored, however you can 'Download' / 'Open' could be stored in your projects repo."
         p= "The information you enter is local to your browser and not stored.  For help contact security@apache.org"

