extends ../../default/cve/edit

block loadEditor

    script 
        | var loadEditorWithProducts = async function() {
        |   docSchema.definitions.product.properties.product_name.examples = await 
        | loadProductNames();
        | loadJSON(initJSON)
        | };
        | loadEditorWithProducts();

    script
        | selected = "aboutTab";
        | document.getElementById(selected).checked = true;
        
    script
        | var tabs = document.getElementsByName("tabs");
        | for (var i = 0; i < tabs.length; i++) {
        |   var t = tabs[i];
        |   if (t.id == "emailTab") {
        |     t.addEventListener('change',function() {
        |         var j = docEditor.getValue();
        |         j.who = "oss";
        |         document.getElementById("outemail").innerHTML = pugRender({renderTemplate: 'email', doc: j });
        |     });
        |   }
        |   if (t.id == "ASFemailTab") {
        |     t.addEventListener('change',function() {
        |         var j = docEditor.getValue();
        |         j.who = "asf";        
        |         document.getElementById("asfemail").innerHTML = pugRender({renderTemplate: 'email', doc: j });
        |     });        
        |   }
        | }
        
block customtabs
        input.tab(name='tabs', type='radio', id='jsonTab', value="6")
        label.lbl(for='jsonTab') CVE-JSON            
        .wht.fil.bor.pad
            div(style='float:right')
                a.icn.right.copy.btn(onmouseover='this.textContent="Copy"',onclick='copyText(outjson);this.textContent="Copied"') Copy
                | 
                a.icn.right.download.btn(onclick='downloadText(outjson, this);') Download
            .pre#outjson
        input.tab(name='tabs', type='radio', id='advisoryTab', value="4")
        label.lbl(for='advisoryTab') Advisory
        .wht.fil.bor.pad
            div.render(id="render")
        input.tab(name='tabs', type='radio', id='emailTab', value="7")
        label.lbl(for='emailTab') OSS-Email
        .wht.fil.bor.pad
            div(style='float:right')
                a.icn.right.copy.btn(onmouseover='this.textContent="Copy"',onclick='copyText(outemail);this.textContent="Copied"')  Copy
            div#outemail
        input.tab(name='tabs', type='radio', id='ASFemailTab', value="8")
        label.lbl(for='ASFemailTab') ASF-Email
        .wht.fil.bor.pad
            div(style='float:right')
                a.icn.right.copy.btn(onmouseover='this.textContent="Copy"',onclick='copyText(asfemail);this.textContent="Copied"')  Copy
        
            div#asfemail

block append customtabs
        input.tab(name='tabs', type='radio', id='aboutTab', value="0")
        label.lbl(for='aboutTab') Instructions
        .wht.fil.bor.pad
         p!= "This site is designed to help you handle vulnerabilities according to the <a href='https://www.apache.org/security/committers.html' target='_blank'>ASF CVE process</a>.  This workflow replaces section 15."
         ul
             li!= "15 a. Fill in the details on <a href='#editor'>'Editor'</a> tab setting the state to 'DRAFT'.  Any field marked optional is not required and it is not given to the CVE project but is used for the advisory previews you may like to use. "
             p=""
             li!= "15 b. The information you enter is stored when you hit SAVE.  It is only visible to other members of your PMC and the ASF security team.  So you can prepare some of it in advance.  Just be careful if you are part of more than one PMC that you don't change the owning PMC to the wrong one."
             p=""
             li!= "15 c. Once you go public.  Use the <a href='#email'>'OSS-Email'</a> tab for the email you should send to oss-security. Use the <a href='#ASFemail'>'ASF-Email'</a> tab for the email to Apache lists.  Also update your security page if you have one."
             p=""
             li!= "15 d. Fill in a 'reference' type 'CONFIRM' with the URL to your public post about this issue.  Then set the state to 'READY'.  This auto notifies ASF Security who will review and submit to Mitre and then set state to 'PUBLIC'.  state 'REVIEW' is optional, set this if you want ASF Security to be notified to help with this entry."
         p=""
         p!= "We are still testing this service.  For further help contact <a href='mailto:security@apache.org' target='_blank'>security@apache.org</a>."

block logolink

