extends ../../default/cve/edit

block loadEditor

    script 
        | var loadEditorWithProducts = async function() {
        |   docSchema.definitions.product.properties.product_name.examples = await 
        | loadProductNames();
        | loadJSON(initJSON)
        | };
        | loadEditorWithProducts();

    script
        | selected = "aboutTab";
        | document.getElementById(selected).checked = true;
        
    script
        | var tabs = document.getElementsByName("tabs");
        | for (var i = 0; i < tabs.length; i++) {
        |   var t = tabs[i];
        |   if (t.id == "emailTab") {
        |     t.addEventListener('change',function() {
        |         var j = docEditor.getValue();
        |         document.getElementById("outemail").innerHTML = pugRender({renderTemplate: 'email', doc: j });
        |   });
        | }
        | }
        
block append customtabs
        input.tab(name='tabs', type='radio', id='emailTab', value="7")
        label.lbl(for='emailTab') OSS-Email
        .wht.fil.bor.pad
            div#outemail            

block append customtabs
        input.tab(name='tabs', type='radio', id='aboutTab', value="0")
        label.lbl(for='aboutTab') Instructions
        .wht.fil.bor.pad
         p!= "This form is designed to help you format an ASF CVE entry and handle the <a href='https://www.apache.org/security/committers.html' target='_blank'>ASF CVE process</a>. "
         ul
             li!= "Fill in the details using the <a href='#editor'>'Editor'</a> tab.  You could use the 'GIT' option to prepopulate based on a previous public CVE your project has previously produced."
             p=""
             li= "The information you enter is local to your browser and not stored.  If you want to complete your entry later you can use the 'Download'/'Open' links to get a JSON file with your work so far.  You could store this in your projects repo."
             p=""
             li!= "When completed, use the <a href='#json'>'CVE-JSON'</a> tab for the data you need to submit to MITRE."
             ul
                p=""
                li!= "Go to <a href='https://cveform.mitre.org/' target='blank'>cveform.mitre.org</a> and use 'Notify CVE about a publication'. You must use your @apache.org e-mail address in the form."
                li= "Fill in the two required fields and paste the JSON in the field labelled 'Additional information and CVE ID description updates'.  If the JSON is rejected as too large, submit it empty and when you get the auto reply from MITRE with a ticket ID, reply to that with the JSON attached."
                li= "Mitre will acknowledge or ask for corrections within a few days."
             p=""
             li!= "Use the <a href='#email'>'OSS-Email'</a> tab for the email you should send to oss-security@lists.openwall.com (subscription not required). You could also use this email for your announcement to your apache.org lists, but note you must use a separate email to oss-security, please do not cc or bcc."
             p=""
         p!= "For further help contact <a href='mailto:security@apache.org' target='_blank'>security@apache.org</a>."

