extends ../../default/cve/edit

block loadEditor

    script 
        | var loadEditorWithProducts = async function() {
        |   docSchema.definitions.product.properties.product_name.examples = await 
        | loadProductNames();
        | loadJSON(initJSON)
        | };
        | loadEditorWithProducts();

    script
        | selected = "aboutTab";
        | document.getElementById(selected).checked = true;
        
    script
        | var tabs = document.getElementsByName("tabs");
        | for (var i = 0; i < tabs.length; i++) {
        |   var t = tabs[i];
        |   if (t.id == "emailTab") {
        |     t.addEventListener('change',function() {
        |         var j = docEditor.getValue();
        |         document.getElementById("outemail").innerHTML = pugRender({renderTemplate: 'email', doc: j });
        |   });
        | }
        | }
        
block append customtabs
        input.tab(name='tabs', type='radio', id='emailTab', value="7")
        label.lbl(for='emailTab') OSS-Email
        .wht.fil.bor.pad
            div#outemail            

block append customtabs
        input.tab(name='tabs', type='radio', id='aboutTab', value="0")
        label.lbl(for='aboutTab') Instructions
        .wht.fil.bor.pad
         p!= "This site is designed to help you handle vulnerabilities according to the <a href='https://www.apache.org/security/committers.html' target='_blank'>ASF CVE process</a>. "
         ul
             li!= "Fill in the details using the <a href='#editor'>'Editor'</a> tab.  You could use the 'GIT' option to prepopulate based on a previous public CVE your project has previously produced, but you are probably better just entering it by hand.  Anything marked optional is not required or given to the CVE project but is used for making all the other templates. "
             p=""
             li!= "The information you enter is stored when you hit SAVE.  It is only visible to other members of your PMC and the ASF security team.  Just be careful if you are part of more than one PMC that you don't change the owning PMC to the wrong one"
             p=""
             li!= "Set the STATE to 'draft' while you are working on the issue.  Set the STATE to 'ready' once you are ready to publish the CVE."
             p=""
             li!= "When your issue is public just let us know at security@apache.org and we'll submit the data from the <a href='#json'>'CVE-JSON'</a> tab to MITRE on your behalf.  "
             p=""
             li!= "Use the <a href='#email'>'OSS-Email'</a> tab for the email you should send to oss-security@lists.openwall.com (subscription not required). You could also use this email or the one in Advisory for your announcement to your apache.org lists, but note you must use a separate email to oss-security, please do not cc or bcc."
             p=""
         p!= "We are still testing this service.  For further help contact <a href='mailto:security@apache.org' target='_blank'>security@apache.org</a>."

