extends ../../default/cve/edit

block loadEditor

    script 
        | var loadEditorWithProducts = async function() {
        |   docSchema.definitions.product.properties.product_name.examples = await 
        | loadProductNames();
        | loadJSON(initJSON)
        | };
        | loadEditorWithProducts();

    script
        | selected = "aboutTab";
        | document.getElementById(selected).checked = true;
        
    script
        | var tabs = document.getElementsByName("tabs");
        | for (var i = 0; i < tabs.length; i++) {
        |   var t = tabs[i];
        |   if (t.id == "emailTab") {
        |     t.addEventListener('change',function() {
        |         var j = docEditor.getValue();
        |         document.getElementById("outemail").innerHTML = pugRender({renderTemplate: 'email', doc: j });
        |   });
        | }
        | }
        
block append customtabs
        input.tab(name='tabs', type='radio', id='emailTab', value="7")
        label.lbl(for='emailTab') OSS-Email
        .wht.fil.bor.pad
            div#outemail            

block append customtabs
        input.tab(name='tabs', type='radio', id='aboutTab', value="0")
        label.lbl(for='aboutTab') Instructions
        .wht.fil.bor.pad
         p!= "This site is designed to help you handle vulnerabilities according to the <a href='https://www.apache.org/security/committers.html' target='_blank'>ASF CVE process</a>.  This workflow replaces section 15."
         ul
             li!= "15 a. Fill in the details on <a href='#editor'>'Editor'</a> tab setting the state to 'DRAFT'.  Any field marked optional is not required and it is not given to the CVE project but is used for the advisory previews you may like to use. "
             p=""
             li!= "15 b. The information you enter is stored when you hit SAVE.  It is only visible to other members of your PMC and the ASF security team.  So you can prepare some of it in advance.  Just be careful if you are part of more than one PMC that you don't change the owning PMC to the wrong one."
             p=""
             li!= "15 c. When you want to go public.  Use the <a href='#email'>'OSS-Email'</a> tab for the email you should send to oss-security@lists.openwall.com (subscription not required). You could also use this email or the one in Advisory for your announcement to your apache.org lists, announce@apache.org, and security@apache.org (but note you must use a separate email to oss-security, please do not cc or bcc.).  You can also update your security page if you have one at this point."
             p=""
             li!= "15 d. Fill in a 'reference' type 'CONFIRM' with the URL to your public post about this issue.  Then set the state to 'READY'.  This auto notifies ASF Security who will review and submit to Mitre and then set state to 'PUBLIC'.  state 'REVIEW' is optional, set this if you want ASF Security to be notified to help with this entry."
         p=""
         p!= "We are still testing this service.  For further help contact <a href='mailto:security@apache.org' target='_blank'>security@apache.org</a>."

