extends ../../default/cve/render.pug

block prepend content
    mixin email(cve)
       - var sourceText = {"INTERNAL":"This issue was found during internal product security testing or research.", "EXTERNAL":"This issue was discovered during an external security research.", "USER":"This issue was seen during production usage.", "UNKNOWN":""};
       - var CDM = cve.CVE_data_meta;
       - var cveid = CDM.ID.match(/^CVE-[0-9-]+$/)? CDM.ID : 'CVE-yyyy-nnnn';
       = "Cut, paste, and send the email below.  Modify it before sending if you wish.  "       
       if (cve.who == "oss")
           = "Subscription not required.  Use a separate email for this, don't cc or bcc."
       pre
           = "From: " + cve.CNA_private.email
           br
           = "Reply-to: users@" + cve.CNA_private.owner+".apache.org"
           br
           if (cve.who == "oss")           
               = "To: oss-security@lists.openwall.com"
           if (cve.who == "asf")           
               = "To: announce@apache.org, users@"+ cve.CNA_private.owner+".apache.org"
               br
               = "Bcc: security@apache.org"
           br
           = "Subject: " 
           if cve.source.advisory
                = cve.source.advisory +": "
           = cveid +": "
           if CDM.TITLE
                if (!CDM.TITLE.toString().includes("Apache"))
                    = getProductListNoVendor(cve) + ": "
                = CDM.TITLE +" "
           else
                = getProductListNoVendor(cve) + " "
                for d in cve.problemtype.problemtype_data
                    for b in d.description
                        = b.value
           if cve.impact
               for r in cve.impact
                  p= "Severity: " + r.other
           p= "Description:"
           +mpara(cve.description.description_data) 
           //- = textUtil.getAffectedProductString(cve)
           //- br
           if cve.source
                if sourceText[cve.source.discovery]
                    p= sourceText[cve.source.discovery]
           if CDM.AKA
                p= "This issue is also known as "+CDM.AKA
           if cve.source.defect && cve.source.defect.length > 0
                p= "This issue is being tracked as "+cve.source.defect
           //- br
           if cve.work_around && cve.work_around.length > 0
                p= "Mitigation:"
                +mpara(cve.work_around)
           //br
           if cve.credit && cve.credit.length > 0
                p= "Credit:"
                +mpara(cve.credit)
           if cve.references.reference_data && cve.references.reference_data[0].url.length > 0
               p= "References:"
               each r in cve.references.reference_data
                   =r.url
                   br       

